frontend.bak/
materio-mui-react-nextjs-admin-template-free/
server/node_modules/

backend/__pycache__
backend/*.pyc

backend/.vscode/
backend/*.sqlite3
backend/kubota_backend/.env
backend/.env
backend/staticfiles/
backend/static/
backend/media/
backend/.idea/
backend/*.sql
backend/.DS_Store
backend/.venv