/* Utility Flexbox */
.flex                {display: flex;}
.inline-flex         { display: inline-flex;}

.flex-row          { flex-direction: row;}
.flex-row-reverse  { flex-direction: row-reverse;}
.flex-col          { flex-direction: column;}
.flex-col-reverse  { flex-direction: column-reverse;}

.flex-no-wrap       { flex-wrap: nowrap;}
.flex-wrap          { flex-wrap: wrap;}
.flex-wrap-reverse  { flex-wrap: wrap-reverse;}

.items-stretch   { align-items: stretch;}
.items-start     { align-items: flex-start;}
.items-center    { align-items: center;}
.items-end       { align-items: flex-end;}
.items-baseline  { align-items: baseline;}

.content-start    { align-content: flex-start;}
.content-center   { align-content: center;}
.content-end      { align-content: flex-end;}
.content-between  { align-content: space-between;}
.content-around   { align-content: space-around;}

.self-auto     { align-self: auto;}
.self-start    { align-self: flex-start;}
.self-center   { align-self: center;}
.self-end      { align-self: flex-end;}
.self-stretch  { align-self: stretch;}

.justify-start    { justify-content: flex-start;}
.justify-center   { justify-content: center;}
.justify-end      { justify-content: flex-end;}
.justify-between  { justify-content: space-between;}
.justify-around   { justify-content: space-around;}

.flex-initial  { flex: 0 1 auto;}
.flex-1        { flex: 1 1 0%;}
.flex-auto     { flex: 1 1 auto;}
.flex-none     { flex: none;}

.flex-grow    { flex-grow: 1;}
.flex-grow-0  { flex-grow: 0;}

.flex-shrink    { flex-shrink: 1;}
.flex-shrink-0  { flex-shrink: 0;}
/* End Utility Flexbox */

/* Setup */
:root {
  --page-top: 0.46cm;
  --page-right: 2.89cm;
  --page-bottom: 0.49cm;
  --page-left: 2.89cm;
  --border-table: 1pt;
}
* {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
}
/* End Setup */
/* Utility Text */
.bold {
  font-weight: bold;
}
.light {
  font-weight: light;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.rtl {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  transform-origin: center;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* End Utility Text */

/* Utility Box */
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.w-50 {
  width: 50%;
}
.h-50 {
  height: 50%;
}
/* End Utility Box */

/* Utility Font */
.fs-1 {font-size: 1pt;}
.fs-2 {font-size: 2pt;}
.fs-3 {font-size: 3pt;}
.fs-4 {font-size: 4pt;}
.fs-5 {font-size: 5pt;}
.fs-6 {font-size: 6pt;}
.fs-7 {font-size: 7pt;}
.fs-8 {font-size: 8pt;}
.fs-9 {font-size: 9pt;}
.fs-10 {font-size: 10pt;}
.fs-11 {font-size: 11pt;}
.fs-12 {font-size: 12pt;}
.fs-13 {font-size: 13pt;}
.fs-14 {font-size: 14pt;}
.fs-15 {font-size: 15pt;}
.fs-16 {font-size: 16pt;}
.fs-17 {font-size: 17pt;}
.fs-18 {font-size: 18pt;}
/* End Utility Font */

.page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  font-size: 13pt;
  font-family: Browallia New;
  padding: var(--page-top) var(--page-right) var(--page-bottom) var(--page-left);
}
.page[data-size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}
.page table {
  width: 100%;
  border-collapse: collapse;
}
.page td {
  border-top: var(--border-table) solid;
  border-left: var(--border-table) solid;
  border-right: var(--border-table) solid;
  border-bottom: var(--border-table) solid;
}
.page table, td {
  text-align: center;
}

.page table.no-border-space {
  border-spacing: 0;
}
.no-space td{
  padding:0;
  line-height: 6pt;
}
td.no-space-td {
  padding:0;
  line-height: 6pt;
}

table.table-fixed {
  table-layout: fixed;
}

table.clear-border-cell td {
  border: 0;
}
table.clear-border-cell-top td {
  border-top: 0;
}
table.clear-border-cell-bottom td {
  border-bottom: 0;
}
table.clear-border-cell-left td {
  border-left: 0;
}
table.clear-border-cell-right td {
  border-right: 0;
}

td.clear-border-top {
  border-top: 0;
}
td.clear-border-left {
  border-left: 0;
}
td.clear-border-right {
  border-right: 0;
}
td.clear-border-bottom {
  border-bottom: 0;
}

.gird-table-contaniner {
  display: grid;
  grid-template-columns: 4fr 4fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.gird-table-contaniner > div {
  border: solid 1pt;
  margin:0 -1px -1px 0;
}
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 1 / 3 / 5 / 4; }
  .div4 { grid-area: 1 / 4 / 4 / 5; }
  .div5 { grid-area: 4 / 4 / 5 / 5; }
  .div6 { grid-area: 2 / 1 / 5 / 2; }
  .div7 { grid-area: 2 / 2 / 5 / 3; }

/**
 * Print Stylesheet for reset @media print
* @version         1.0
* @lastmodified    16.06.2016
*/

@media print {
  .page {
    padding: var(--page-top) var(--page-right) var(--page-bottom) var(--page-left);
    margin: 0;
  }
      
  /** Seitenränder einstellen */       
  @page { 
    margin: 0;
  }
  
  /* Font auf 16px/13pt setzen, Background auf Weiß und Schrift auf Schwarz setzen.*/
  /* Das spart Tinte */
  body {
  line-height: 1.3;
  background: #fff !important;
  color: #000;
  }
  
  h1 {
  font-size: 24pt;
  }
  
  h2, h3, h4 {
  font-size: 14pt;
  margin-top: 25px;
  }    
   
  /* Alle Seitenumbrüche definieren */
  a {
      page-break-inside:avoid
  }
  blockquote {
      page-break-inside: avoid;
  }
  h1, h2, h3, h4, h5, h6 { page-break-after:avoid; 
       page-break-inside:avoid }
  img { page-break-inside:avoid; 
       page-break-after:avoid; }
  table, pre { page-break-inside:avoid }
  ul, ol, dl  { page-break-before:avoid }
      
  /* Linkfarbe und Linkverhalten darstellen */
  a:link, a:visited, a {
  background: transparent;
  color: #520;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
  }
      
  }